@media (min-width: 1200px) {
  .body-column-space {
    padding: 0 2rem;
  }

  nb-layout-column.body-column-space {
    max-width: 100%;
    margin: 0 auto;
  }
}

.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  z-index: 9999;
}
